<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
							http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
							http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
							http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
>

	<!-- ********** DATASOURCES ********** -->

			
				<!-- ***** GAPTS **** -->
			
			<bean id="gaptsAmericasDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
			    <property name="jndiName" value="gaptsAmericas"/>
			    <property name="lookupOnStartup" value="false"/>
			    <property name="cache" value="true"/>
			    <property name="proxyInterface" value="javax.sql.DataSource"/>
			</bean>
			
			<bean id="gaptsEMEADataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
			    <property name="jndiName" value="gaptsEMEA"/>
			    <property name="lookupOnStartup" value="false"/>
			    <property name="cache" value="true"/>
			    <property name="proxyInterface" value="javax.sql.DataSource"/>
			</bean>
			
			<bean id="gaptsAPDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
			    <property name="jndiName" value="gaptsAP"/>
			    <property name="lookupOnStartup" value="false"/>
			    <property name="cache" value="true"/>
			    <property name="proxyInterface" value="javax.sql.DataSource"/>
			</bean>
			
			<!-- ***** CM **** -->
	
			<bean id="ECMClientDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
			    <property name="jndiName" value="ECMClientDS"/>
			    <property name="lookupOnStartup" value="false"/>
			    <property name="cache" value="true"/>
			    <property name="proxyInterface" value="javax.sql.DataSource"/>
			</bean>
			
			<!-- ***** icfs **** -->
			
			<bean id="icfsAmericasDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
			    <property name="jndiName" value="icfsAmericas"/>
			    <property name="lookupOnStartup" value="false"/>
			    <property name="cache" value="true"/>
			    <property name="proxyInterface" value="javax.sql.DataSource"/>
			</bean>
			
			<bean id="icfsAPDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
			    <property name="jndiName" value="icfsAP"/>
			    <property name="lookupOnStartup" value="false"/>
			    <property name="cache" value="true"/>
			    <property name="proxyInterface" value="javax.sql.DataSource"/>
			</bean>
			
			<bean id="icfsEMEADataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
			    <property name="jndiName" value="icfsEMEA"/>
			    <property name="lookupOnStartup" value="false"/>
			    <property name="cache" value="true"/>
			    <property name="proxyInterface" value="javax.sql.DataSource"/>
			</bean>
			
			<bean id="icfsUSDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
			    <property name="jndiName" value="icfsUS"/>
			    <property name="lookupOnStartup" value="false"/>
			    <property name="cache" value="true"/>
			    <property name="proxyInterface" value="javax.sql.DataSource"/>
			</bean>
			
			
	
	<!-- ********** TRANSACTION MANAGERS ********** -->
	
			<!-- ***** GAPTS **** -->
			
			<bean id="gaptsAmericasTransactionManager"
				class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
				<property name="dataSource" ref="gaptsAmericasDataSource" />
			</bean>
			
			<bean id="gaptsEMEATransactionManager"
				class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
				<property name="dataSource" ref="gaptsEMEADataSource" />
			</bean>
			
			<bean id="gaptsAPTransactionManager"
				class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
				<property name="dataSource" ref="gaptsAPDataSource" />
			</bean>
			
			<!-- ***** CM **** -->
			
			<bean id="ECMClientTransactionManager"
				class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
				<property name="dataSource" ref="ECMClientDataSource" />
			</bean>
			
			<!-- **********ICFS*************** -->

			
			<bean id="icfsAmericasTransactionManager"
				class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
				<property name="dataSource" ref="icfsAmericasDataSource" />
			</bean>
			
			<bean id="icfsAPTransactionManager"
				class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
				<property name="dataSource" ref="icfsAPDataSource" />
			</bean>
			
			<bean id="icfsEMEATransactionManager"
				class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
				<property name="dataSource" ref="icfsEMEADataSource" />
			</bean>
			
			<bean id="icfsUSTransactionManager"
				class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
				<property name="dataSource" ref="icfsUSDataSource" />
			</bean>
	
</beans>
