 <textarea id="${id}_top" maxlength="2048" data-dojo-type="dijit/form/SimpleTextarea"
	data-dojo-attach-point="commentTextarea"
	data-dojo-props='name:"top", region:"top", splitter:true, style:{height:"40%", width: "98.3%", resize:"none"}'></textarea>

<div id="${id}_addButton">
	<button data-dojo-type="dijit/form/Button"
	    id="${id}_addComment"
	    data-dojo-attach-point="addComment"
	   	data-dojo-props="iconClass:'dijitIconTask'">Add
	</button>
</div>

<div id="${id}_commentsDialogTable"></div>






