<div id="topLeftPane">
	    <input id="checkIncEq" name="checkIncEq" data-dojo-type="dijit/form/CheckBox" value="agreed" class="cbx" /><label for="checkIncEq">innclude IBM/Lenovo equipment</label>
	</div>
	
	<div id="topRightPane">
		

	</div>

	<table data-dojo-type="dojox.grid.DataGrid" >
		<thead>
    		<tr>
      			<th field="fieldName" width="200px">Type</th>
      			<th field="fieldName" width="200px">Model</th>
      			<th field="fieldName" width="200px">Product Description</th>
      			<th field="fieldName" width="200px">Column Name</th>
    		</tr>
  		</thead>
	</table>	
 	

	<div id="buttonsPanel" class="buttonContainer">
    	<button id="selectButtonNode" type="button">Select</button>
    	<button id="cancelButtonNode" type="button">Cancel</button>
    </div>
